/* BLOCKS */ 
  .jumbotron {
    background-color: var(--main-color);
    color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 0;
  }

  .block, .block_colored, .block_black {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .block > h1, .block_colored > h1, .block_black > h1 {
    text-align: center;
  }

  .block > h2, .block_colored > h2, .block_black > h2 {
    padding-left: 30px;
  }

  .block {
    background-color: #fff;
  }

  .block_colored {
    background-color: var(--main-color);
  }

  .block_black {
    background-color: #000;
  }

  .block_black > h1, .block_black > h2 {
    color: #fff;
  }

  .footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .block_color {
    background-color: var(--main-color);
    color: #fff;
  }